{{#if message}}
    <div class="alert alert-danger" style="text-align:center">{{message}}</div>
{{/if}}
<div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
<div class="panel panel-info">
					<div class="panel-heading">
					<div class="panel-title">Sign Up</div>
					</div>
					<div style="padding-top:30px" class="panel-body">
					<form id="local-reg" class="form-horizontal" action="/local-reg" method="post">
                        <div style="margin-bottom: 25px" class="input-group">
                            <span class="input-group-addon">
                                 <i class="fa fa-fw fa-user" style="width: 14px">
                                </i>
                            </span>
                            <input type="text" name="username" class="form-control" placeholder="Username*" autofocus/>
                        </div>
                        <div style="margin-bottom: 25px" class="input-group">
                            <span class="input-group-addon">
                                         <i class="fa fa-fw fa-lock" style="width: 14px">
                                        </i>
                                    </span>
                            <input pattern=".{6,24}" type="password" name="password" class="form-control" placeholder="Password (6-24 characters)*" required/>
                        </div>
                        <div style="margin-bottom: 25px" class="input-group">

                                                        <span class="input-group-addon">
                                                            <i class="fa fa-fw fa-envelope" style="width: 14px">
                                                            </i>
                                                        </span>
                                                    <input type="email" name="email" class="form-control" placeholder="Email*" required/>
                                                    </div>
                        <div style="margin-bottom: 25px" class="input-group">

                                <span class="input-group-addon">
                                    <i class="fa" style="width: 14px">
                                    </i>
                                </span>

                            <input type="text" name="firstname" class="form-control" placeholder="First Name*" required/>
                        </div>
                        <div style="margin-bottom: 25px" class="input-group">

                                <span class="input-group-addon">
                                    <i class="fa" style="width: 14px">
                                    </i>
                                </span>

                        <input type="text" name="lastname" class="form-control" placeholder="Last Name*" required/>
                        </div>
                        <div>
                            <input type="submit" class="btn btn-success" value="Register"/>
                        </div>
                      </form></div></div></div>