<div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">

<div class="panel panel-info">
					<div class="panel-heading">
					<div class="panel-title">Sign Up</div>
					</div>
					<div style="padding-top:30px" class="panel-body">
					<form id="local-reg" class="form-horizontal ng-valid ng-dirty ng-valid-parse" action="/local-reg" method="post">
                        <div class="input-group">
                            <span class="input-group-addon">
                                 <i class="glyphicon glyphicon-user">
                                </i>
                            </span>
                            <input type="text" name="username" class="form-control ng-pristine ng-valid ng-empty ng-touched"/>
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">
                                         <i class="glyphicon glyphicon-lock">
                                        </i>
                                    </span>
                            <input type="password" name="password" class="form-control ng-pristine ng-valid ng-empty ng-touched"/>
                        </div>
                        &nbsp;
                        <div>
                            <input type="submit" class="btn btn-success" value="Register"/>
                        </div>
                      </form></div></div></div>